/*
------------------------------------------------------------
Project Name : VR Theme 6;
------------------------------------------------------------
@charset "utf-8";

/* Reset 
--------------------------------------------------------------------------------------------------------*/

/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --sidebar-width: 238px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/* General 
--------------------------------------------------------------------------------------------------------*/
* {
    outline: none !important;
}

html,
body {
    min-width: 375px;
    min-height: 100vh;
}

body {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    background-color: #FAFAFA;
    color: #4B4B4B;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper {
    min-height: 100vh;
}

a {
    color: #000;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2em;
    padding: 0;
}
h2{font-size: 48px; line-height: 54px; font-weight: 500;}
h3{font-size: 30px; line-height: 36px;}
h5{font-size: 20px; line-height: 26px;}
h6{font-size: 18px; line-height: 24px; font-weight: 300,}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    display: block;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    -webkit-appearance: none;
    appearance: none;
}

::-webkit-input-placeholder {
    color: #000;
}

::-moz-placeholder {
    color: #000;
}

:-ms-input-placeholder {
    color: #000;
}

:-moz-placeholder {
    color: #000;
}

::-moz-focus-inner {
    border: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

option:not(:checked) {
    color: black;
}

p {
    padding: 0;
}

.icon-20 {
    height: 20px !important;
    width: 20px !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

/* Button
--------------------------------------------------------------------------------------------------------*/
.btn{box-shadow: none !important; transition: all 0.3s; border-radius: 10px; font-weight: 500;font-size: 20px;line-height: 24px;text-transform: uppercase;}
.btn-primary{background-color: #59B997 !important;border-color: #59B997 !important; padding: 14px 30px;}
.btn-primary:hover,
.btn-primary:focus{background-color: rgb(62, 129, 105) !important; border-color: #59B997 !important;}
.primary-icon-button{border: 1px solid #EAEAEA !important;padding: 10px 12px;}
.primary-icon-button:hover, .primary-icon-button:focus {background-color: #e9f6f2 !important; border-color: #59B997 !important;}
.primary-icon-button img{display: block; height: 26px; width: 26px;}

.btn-outline-primary{border: 2px solid #59B997 !important; padding: 13px 28px; color: #59B997;}
.btn-outline-primary:hover,
.btn-outline-primary:focus{background-color: rgba(0,0,0,0.09) !important; border-color: #59B997 !important; color: #59B997 !important;}

/* Form Control
--------------------------------------------------------------------------------------------------------*/
.form-control{box-shadow: none !important;}
.form-floating {font-weight: 400;font-size: 15px;line-height: 20px;color: #9C9C9C;height: 50px;position: relative;}
.form-floating .form-control {border: 0;border-bottom: 1px solid #E9E9E9;padding: 8px 12px 8px 4px;border-radius: 0;height: 50px;}
.form-floating>label {padding: 16px 12px 11px 0;transition: all 300ms ease;}
.form-control:focus,.form-select:focus {box-shadow: none;border-color: #59B997;}
.form-control:focus~label {color: #59B997;}
.form-floating .form-select {border: 0;border-bottom: 1px solid #E9E9E9;padding: 24px 12px 8px 4px;border-radius: 0;height: 50px; background-image: url('./assets//images/arrow-down-ic.svg'); background-size: 20px; background-position: bottom 5px right 10px;}
.form-floating>.form-control-plaintext~label, 
.form-floating>.form-control:focus~label, 
.form-floating>.form-control:not(:placeholder-shown)~label, 
.form-floating>.form-select~label {opacity: 1;transform: scale(.80) translateY(-20px);}

.password-wrapper .icon-wrapper{position: absolute;right: 10px; bottom: 5px;display: flex;align-items: center;justify-content: center; padding: 5px; border: 0;border-radius: 50%;}
.password-wrapper .icon-wrapper:hover,
.password-wrapper .icon-wrapper:focus{background-color: rgba(0,0,0,0.08);}
.password-wrapper .form-control{padding-right: 40px;}

.custom-card{padding: 26px 30px; border: 1px solid #EAEAEA; border-radius: 10px; height: 100%;background-color: #fff;}

/* Checkbox
--------------------------------------------------------------------------------------------------------*/
.form-check .form-check-input{margin-right: 9px;}
.form-check .form-check-input:focus{box-shadow: none;border-color: #59B997;box-shadow: 0 0 0 0.25rem rgb(62 129 105 / 25%);}
.form-check .form-check-input:checked{margin-right: 9px; background-color: #59B997; border-color: #59B997;}
.form-check .form-check-label{padding-top: 3px;font-size: 15px;line-height: 20px;}

.alert{display: flex;align-items: flex-start; padding: 12px 40px 12px 10px;}
.alert .alert-icon{display: block;margin-right: 8px;}
.alert-danger{background: #FFFAFA;border: 1px solid #FF3535;color: #FF3535;}
.alert-info{background: #F3FDFF;border: 1px solid #00B9E1;color: #00B9E1;}
.alert-warning{background: #FFFCF5;border: 1px solid #FFA800;color: #FFA800;}
.alert-success{background: #F5FFF8;border: 1px solid #00AF27;color: #00AF27;}
.alert .btn-close{padding: 15px 12px;}
.alert .btn-close:focus{box-shadow: none; opacity: 1;}


/* Login Page
--------------------------------------------------------------------------------------------------------*/
.login-wrapper {min-height: 100vh;}
.login-container {height: 100vh;}
.login-container .row {height: 100vh;}
.login-hero {background-color: #59B997;padding: 50px 70px 60px;position: relative;}
.login-wrapper .login-logo {display: block;max-width: 178px;height: 38px;}
.login-wrapper .login-logo img {height: auto;width: auto;}
.login-wrapper .login-content {height: 100%;display: flex;flex-direction: column;justify-content: space-between;}
.login-wrapper .login-mockup {display: flex;align-items: center;justify-content: center;margin-top: 54px;}
.login-wrapper .login-mockup>img {display: block;max-width: 100%;}
.login-wrapper .copyright-text {font-weight: 400;font-size: 15px;line-height: 17px;color: #FFFFFF;}
.login-wrapper .login-main {padding: 58px 20px;position: relative;background-color: #FFFFFF;}
.login-wrapper .login-main h2 {font-weight: 500;font-size: 48px;line-height: 56px;color: #424242;padding-bottom: 12px;display: flex;}
.login-wrapper .login-main h5 {font-weight: 500;font-size: 20px;line-height: 22px;color: #424242;font-weight: 500;padding-bottom: 16px;}
.login-wrapper .forgot-password {display: flex;align-items: center;justify-content: space-between;margin: 29px 0 25px;}
.login-wrapper .forgot-password .form-check {color: #9C9C9C;font-weight: 400;font-size: 15px;line-height: 18px;display: flex;align-items: center;margin-bottom: 0;}
.login-wrapper .form-wrapper {display: flex;flex-direction: column;height: 100%;max-width: 452px;width: 100%;margin: 0 auto;justify-content: center;}
.login-wrapper .form-wrapper form {margin: auto 0;padding: 10px 0;}
.login-wrapper .form-wrapper .mobile-logo {display: none;}
.login-wrapper .login-main p.sign-up-link {padding-top: 30px;font-weight: 400;font-size: 15px;line-height: 17px;color: #424242;text-align: center;}
.login-wrapper .login-main .sign-up-link a {font-weight: 700;font-size: 15px;line-height: 17px;text-transform: uppercase;color: #59B997;position: relative;}
.login-wrapper .login-main .sign-up-link a::after {content: '';display: block;width: 0;height: 2px;transition: width .3s;background-color: #59B997;position: absolute;left: 0;}
.login-wrapper .login-main .sign-up-link a:hover::after,
.login-wrapper .login-main .sign-up-link a:focus::after {width: 100%;}
.login-main .copyright-text {color: #9C9C9C;}
.login-wrapper .other-links {display: flex;align-items: center;justify-content: flex-end;gap: 26px;}
.custom-link {font-weight: 400;font-size: 15px;line-height: 17px;color: #9C9C9C;transition: all 300ms ease;position: relative;}
.custom-link::after {content: '';display: block;width: 0;height: 2px;transition: width .3s;background-color: #59B997;}
.custom-link:hover,
.custom-link:focus {color: #59B997;}
.custom-link:hover::after,
.custom-link:focus::after {width: 100%;}

/* Header
--------------------------------------------------------------------------------------------------------*/
.header{
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 19px 1px rgb(0 0 0 / 8%);
    padding: 20px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header .toggle-button{margin-right: 30px;}
.header .logo{display: inline-block; vertical-align: middle; margin-right: 8px;}
.header .logo img{display: block;}
.header .search-wrapper{position: relative; max-width: 304px; width: 100%; margin-right: 10px;}
.header .search-wrapper .form-control{height: 48px; border-radius: 10px; border-color: #EAEAEA; padding: 8px 44px 8px 20px;}
.header .search-wrapper .form-control:focus{border-color: #59B997;}
.header .search-wrapper .btn{position: absolute; right: 14px; top: 50%; transform: translateY(-50%); padding: 6px; border-radius: 50%; background-color: transparent !important; border: none !important;}
.header .search-wrapper .btn:focus, .header .search-wrapper .btn:hover{background-color: rgba(0, 0, 0, 0.1) !important;}
.header .search-wrapper .btn img{display: block;}
.header .right-content{display: flex; align-items: center; margin-left: auto;}
.header .right-content .primary-icon-button{margin: 0 10px;}
.header .user-profile .btn{background-color: transparent !important; color: #4B4B4B; display: flex;align-items: center; padding: 8px 8px 8px 10px; margin-left: 21px; border-color: transparent !important;}
.header .user-profile .btn::after{display: none;}
.header .user-profile .btn:focus, .header .user-profile .btn:hover{border-color: #59B997 !important;}
.header .user-profile .btn span{padding-left: 10px;padding-right: 8px; text-transform: capitalize; font-weight: 400; font-size: 16px; line-height: 20px;}
.header .user-profile::after{content: ''; position: absolute; left: 10px; top: 50%; transform: translateY(-50%); height: 28px; width: 1px; background-color: #9C9C9C; opacity: 0.5;}


/* Sidebar
--------------------------------------------------------------------------------------------------------*/
.nav{position: fixed; top: 96px; left: 0; bottom: 0; flex-direction: column; background-color: #59B997; width: 238px; flex-wrap: nowrap; overflow: auto;}
.nav .nav-item:not(:last-child){margin-bottom: 5px;}
.nav .nav-item .nav-link{display: flex;align-items: center; color: #FFFFFF; padding: 15px 30px; position: relative;}
.nav .nav-item .nav-link img{margin-right: 10px;}
.nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 0;
    background-color: #4CC59A;
    transition: all 300ms ease;
    z-index: -1;
}
.nav .nav-item .nav-link:hover::after {
    width: 100%;
}
.nav .nav-item .nav-link.active{background-color: #4CC59A;}

/* Dashboard
--------------------------------------------------------------------------------------------------------*/
.main-content{
    padding: 127px 40px 40px;
    transition: all 0.3s;
    width: calc(100% - var(--sidebar-width));
    margin-left: var(--sidebar-width);
}
.page-title{
    padding-bottom: 21px;
    color: #4B4B4B;
}


/* Inner Page
--------------------------------------------------------------------------------------------------------*/
.file-upload-main p {padding-bottom: 0;font-size: 15px;line-height: 20px;font-weight: 400;color: #9C9C9C;margin-left: 19px;}
.file-upload-main {display: flex;align-items: center;margin-bottom: 36px;}
.file-upload-main h4 {padding-bottom: 0;margin-left: 8px;}
.file-content {display: flex;align-items: center;justify-content: center;width: 124px;height: 39px;background-color: #F6F6F6; border-radius: 5px;position: absolute;z-index: 0;cursor: pointer; color: #6D6D6D;}
.file-upload-main input {opacity: 0;z-index: 1;width: 124px;height: 39px;cursor: pointer;}

.btn-groups{display: flex;align-items: center;flex-wrap: wrap;}
.btn-groups .btn:not(:last-child){margin-right: 20px;}

/* Responsive Media Query
--------------------------------------------------------------------------------------------------------*/
@media (max-width:1399px) {
}
@media (max-width:1199px) {
    .login-hero {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media (max-width:991px) {
    h2{font-size: 40px; line-height: 46px;}
    .login-wrapper .login-container {
        display: block;
    }
    .login-hero {
        padding: 40px;
    }
    .login-container .row{height: auto;}
    .login-wrapper .login-logo {
        margin: 0 auto;
    }
    .login-wrapper .login-main {
        padding: 30px;
    }
    .login-wrapper .form-wrapper {
        max-width: 450px;
        margin: 0 auto;
        min-height: calc(100vh - 218px);
    }
    .login-wrapper .form-wrapper .mobile-logo {
        display: block;
        padding-bottom: 40px;
        width: max-content;
    }
    .login-wrapper .login-main h2 {
        text-align: center;
        justify-content: center;
        font-size: 40px;
        line-height: 46px;
    }
    .login-wrapper .login-main h5 {
        text-align: center;
    }
    .login-wrapper .login-main h6 {
        text-align: center;
    }
    .login-wrapper .other-links {
        justify-content: center;
        gap: 16px;
        flex-wrap: wrap;
    }
    .login-main .copyright-text {
        color: #9C9C9C;
        display: block;
        padding-top: 16px;
        text-align: center;
    }
    .login-wrapper .login-main .sign-up-link {
        padding: 30px 0;
    }
}
@media (max-width:767px) {
    h2{font-size: 40px; line-height: 46px;}
    h3{font-size: 32px; line-height: 38px;}
    .btn-primary{padding: 12px;}
    .login-hero{padding: 20px;}
}
@media (max-width:575px) {
    h2{font-size: 26px; line-height: 32px;}
    h3{font-size: 20px; line-height: 26px;}
    h5{font-size: 16px; line-height: 20px;}
    h6{font-size: 15px; line-height: 20px;}
}
